body {
  font-family: sans-serif;

}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../images/background.jpg");
  opacity: 0.5;
  z-index: -1;
}

.brand {
  font-weight: bold;
  font-style: italic;
  color: rgb(237, 208, 171) !important;
}

.nav-item:hover {
  background-color: rgb(139, 13, 139);
  border-radius: 8px;
}

.nav-link {
  color: white !important;
}

.container {
  height: 600px;
  margin-top: -10px;
  padding: 30px;
  border-radius: 8px;
  background-color: cadetblue;
  opacity: 0.9;
  overflow: auto;
}

.sidebar-item {
  text-decoration: none;
  font-weight: bold;
  margin: 4px;
  padding: 5px;
  font-size: 20px;
}

.sidebar-item:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  padding-left: 3px;
}

.sidebar-item a {
  text-decoration: none;
  color: black;
  width: 100%;
}

.model-list {
  list-style: none;
  padding: 2px;
}


.delete-link {
  background-color: rgb(116, 45, 45);
  color: white;
  text-decoration: none;
  padding: 2px;
  font-weight: bold;
  border-radius: 10px;
}

.table {
  margin-top: 30px;
  padding:10px;
  background-color: white;
  border-radius: 8px;
  border-collapse: unset;
  width: -webkit-fill-available
}

button:disabled {
  background-color: gray !important;
}

.content-container {
  background-color: aliceblue;
  opacity: 0.8;
}