{% extends 'base.html' %}  {% block head %} {% endblock %} {% block body %}

<!-- Form start -->
<div style="text-align: center" class="container">
  <form class="form" action="/" method="POST">
    <div class="row g-3">
      <div class="col-sm-7">
        <input type="text" name="content" class="form-control" id="input" placeholder="enter text.." aria-label="text">
      </div>
      <div class="col-sm">
        <div class="input-group mb-3">
   
        </div>
      </div>
      <br>
           <select class="form-select" name="models"  id="models">
            <option selected disabled value="Models">Model</option>
            <option value="Soft">Soft Voting</option>
            <option value="Hard">Hard Voting</option>
          </select> 
          <br>
          <br>
      <div class="col-12 m-1">
        <button type="submit" class="btn btn-primary" id="submit-button" value="Classify Post" disabled>Classify
          Post</button>
      </div>
    </div>
  </form>
  <!-- Form end -->

  {% if tasks|length < 1 %} <h4 style="text-align: center; margin: 5px;">There are no Posts till now!</h4>
    {% else %}
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Post</th>
          <th scope="col">Time Added</th>
          <th scope="col">Classification</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      {% for task in tasks %}
      <tbody>
        <tr>
          <td>{{ task.post }}</td>
          <td>{{ task.date_created.date() }}</td>
          <td>{{task.classification}}</td>
          <td>
            <a class="delete-link" href="/delete/{{task.id}}">Delete</a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    {% endif %}
</div>

<script>



const inputField = document.getElementById('input');
const selectField = document.getElementById('models');
const submitButton = document.getElementById('submit-button');
inputField.addEventListener('input', () => {
  if (inputField.value.trim() === '' || selectField.value.trim() === '' || selectField.value.trim() === 'Models') {
    submitButton.disabled = true;
  } else {
    submitButton.disabled = false;
  }
});

selectField.addEventListener('change', () => {
  if (inputField.value.trim() === '' || selectField.value.trim() === '' || selectField.value.trim() === 'Models') {
    submitButton.disabled = true;
  } else {
    submitButton.disabled = false;
  }
});
</script>



{% endblock %}